#!/bin/bash
# /etc/systemd/system/eskvisor-cgroup.service

[Unit]
Description=EskVisor CGroup Management Service
After=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/restore-cgroups.sh
ExecStop=/usr/local/bin/save-cgroups.sh
User=root
# Добавляем стандартные пути
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
# Добавляем рабочую директорию
WorkingDirectory=/

[Install]
WantedBy=multi-user.target